<template>
    <v-container>
        <v-row justify="space-around">
            <v-col cols="12" md="2">
                <v-card class="ml-2 mr-2" color="green" dark width="200px">
                    <v-btn icon>
                        <v-icon>mdi-tag</v-icon>
                    </v-btn>
                    <h3 class="pl-2">Total Orders</h3>
                    <h3 class="pl-2">KES 0</h3>
                </v-card>
            </v-col>
            <v-col cols="12" md="2">
                <v-card class="ml-2 mr-2" color="#2C3AA7" dark width="200px">
                    <v-btn icon>
                        <v-icon>mdi-file</v-icon>
                    </v-btn>
                    <h3 class="pl-2">Unpaid Invoices</h3>
                    <h3 class="pl-2">KES 0</h3>
                </v-card>
            </v-col>
            <v-col cols="12" md="2">
                <v-card class="ml-2 mr-2" color="red" dark width="200px">
                    <v-btn icon>
                        <v-icon>mdi-cash</v-icon>
                    </v-btn>
                    <h3 class="pl-2">Total Revenue</h3>
                    <h3 class="pl-2">KES 0</h3>
                </v-card>
            </v-col>
            <v-col cols="12" md="2">
                <v-card class="ml-2 mr-2" color="purple" dark width="200px">
                    <v-btn icon>
                        <v-icon>mdi-package-variant</v-icon>
                    </v-btn>
                    <h3 class="pl-2">Low Stocks</h3>
                    <h3 class="pl-2">0</h3>
                </v-card>
            </v-col>
            <v-col cols="12" md="2">
                <v-card class="ml-2 mr-2" color="blue" dark width="200px">
                    <v-btn icon>
                        <v-icon>mdi-store-outline</v-icon>
                    </v-btn>
                    <h3 class="pl-2">Outlets</h3>
                    <h3 class="pl-2">0</h3>
                </v-card>
            </v-col>
        </v-row>

        <v-row justify="space-around">
            <v-col cols="12" md="5">
                <v-card>
                    <v-col>
                        <h3 class="pl-2"><v-icon class="mr-2">mdi-tag</v-icon>Orders</h3>
                    </v-col>
                    <v-col>
                        <v-row>
                            <v-col>
                                <h4 align="center">TOTAL ORDERS</h4>
                                <h4 align="center">0</h4>
                            </v-col>
                            <v-col>
                                <h4 align="center">TOTAL VALUE</h4>
                                <h4 align="center">KES 0</h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col>
                        <v-row>
                            <v-col>
                                <h5 align="center">OPEN</h5>
                                <h5 align="center">0</h5>
                            </v-col>
                            <v-col>
                                <h5 align="center">SHIPPED</h5>
                                <h5 align="center">0</h5>
                            </v-col>
                            <v-col>
                                <h5 align="center">DELIVERED</h5>
                                <h5 align="center">0</h5>
                            </v-col>
                            <v-col>
                                <h5 align="center">REJECTED</h5>
                                <h5 align="center">0</h5>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-card>
            </v-col>
            <v-col cols="12" md="5">
                <v-card>
                    <v-col>
                        <h3 class="pl-2"><v-icon class="mr-2">mdi-file</v-icon>Invoices</h3>
                    </v-col>
                    <v-col>
                        <v-row>
                            <v-col>
                                <h4 align="center">TOTAL INVOICES</h4>
                                <h4 align="center">0</h4>
                            </v-col>
                            <v-col>
                                <h4 align="center">TOTAL VALUE</h4>
                                <h4 align="center">KES 0</h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col>
                        <v-row>
                            <v-col>
                                <h5 align="center">OPEN</h5>
                                <h5 align="center">0</h5>
                            </v-col>
                            <v-col>
                                <h5 align="center">PAID</h5>
                                <h5 align="center">0</h5>
                            </v-col>
                            <v-col>
                                <h5 align="center">OVERDUE</h5>
                                <h5 align="center">0</h5>
                            </v-col>
                            <v-col>
                                <h5 align="center">REJECTED</h5>
                                <h5 align="center">0</h5>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-card>
            </v-col>

        </v-row>

        <v-row justify="space-around">
            <v-col cols="12" md="5">
                <v-col>
                    <h3><v-icon class="mr-2">mdi-store-outline</v-icon>Top Outlets By Order Value</h3>
                </v-col>
                <v-card>
                    <h3 align="center" class="py-6">No. of orders by outlets</h3>
                </v-card>
            </v-col>
            <v-col cols="12" md="5">
                <v-col>
                    <h3><v-icon class="mr-2">mdi-account-multiple</v-icon>Top Sales Agents By Sales</h3>
                </v-col>
                <v-card>
                    <h3 align="center" class="py-6">No. of sales by agents</h3>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
    export default {
        name: 'Dashboard',
    }
</script>

