<template>
    <v-container>
        <h1 class="display-2 font-weight-bold mb-3">
            Welcome to Vuetify
        </h1>
    </v-container>
</template>

<script>
  export default {
    name: 'HelloWorld',

    data: () => ({}),
  }
</script>
