<template>
    <div>
        <v-app-bar
                color="#2C3A47"
                app
                dark>
            <div class="d-flex align-center">
                <v-app-bar-nav-icon @click="mini = !mini"></v-app-bar-nav-icon>
                <v-toolbar-title>
                    <span class="hidden-sm-and-down">Hokela</span>
                </v-toolbar-title>
            </div>
            <v-spacer></v-spacer>
            <v-toolbar-title>User Name</v-toolbar-title>
            <v-btn icon class="clickable">
                <v-icon>mdi-account</v-icon>
            </v-btn>
        </v-app-bar>

        <v-navigation-drawer
                :mini-variant.sync="mini"
                v-model="drawer"
                color="#2C3A47"
                app
                dark>
            <v-list-item class="px-2 pt-1">
                <v-list-item-avatar>
                    <v-img src="../assets/logo.png" alt="logo" class="mx-auto"/>
                </v-list-item-avatar>
                <v-list-item-title class="ml-4 text-capitalize">Hokela</v-list-item-title>
            </v-list-item>
            <v-list shaped>
                <template v-for="item in items">
                    <v-list-group
                            v-if="item.children"
                            :key="item.text"
                            v-model="item.model"
                            :prepend-icon="item['icon-ctr']"
                            :append-icon="item.model ? item.icon : item['icon-alt']"
                            active-class="orange--text">
                        <template v-slot:activator>
                            <v-list-item-content>
                                <v-list-item-title>
                                    {{ item.text }}
                                </v-list-item-title>
                            </v-list-item-content>
                        </template>
                        <v-list-item v-for="(child, i) in item.children"
                                     :key="i"
                                     route :to="child.route"
                                     active-class="orange--text">
                            <v-list-item-action v-if="child.icon">
                                <v-icon>{{ child.icon }}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>
                                    {{ child.text }}
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list-group>
                    <v-list-item
                            v-else
                            :key="item.text"
                            active-class="orange--text"
                            route :to="item.route">
                        <v-list-item-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-title>
                            {{ item.text }}
                        </v-list-item-title>
                    </v-list-item>
                </template>
            </v-list>
        </v-navigation-drawer>
    </div>
</template>

<script>
    export default {
        name: 'NavBar',
        data: () => ({
            drawer: null,
            mini: false,
            fab: false,
            items: [
                {icon: 'mdi-home', text: 'Dashboard', route: '/'},
                {icon: 'mdi-finance', text: 'Sales', route: '/sales'},
                {icon: 'mdi-account-group', text: 'Customers', route: '/customers'},
                {icon: 'mdi-package-variant-closed', text: 'Products', route: '/products'},
                {icon: 'mdi-warehouse', text: 'Stocks', route: '/stocks'},
                {
                    icon: 'mdi-chevron-down',
                    'icon-alt': 'mdi-chevron-down',
                    'icon-ctr': 'mdi-map-marker',
                    text: 'Visits',
                    model: false,
                    children: [
                        {icon: 'mdi-map-marker', text: 'List', route: '/visits/list'},
                        {icon: 'mdi-beaker-question-outline', text: 'Questionnaires', route: '/visits/questionnaires'}
                    ]
                },
                {icon: 'mdi-account-multiple', text: 'Sales Reps', route: '/sales-reps'},
                {icon: 'mdi-map-marker-path', text: 'Route Plan', route: '/route-plan'},
                {
                    icon: 'mdi-chevron-down',
                    'icon-alt': 'mdi-chevron-down',
                    'icon-ctr': 'mdi-truck-outline',
                    text: 'Stocklists',
                    model: false,
                    children: [
                        {icon: 'mdi-truck-outline', text: 'List', route: '/stock-lists/list'},
                        {icon: 'mdi-shopping-outline', text: 'Orders', route: '/stock-lists/orders'},
                        {icon: 'mdi-store-outline', text: 'Outlets', route: '/stock-lists/outlets'},
                    ]
                },
                {icon: 'mdi-truck-fast-outline', text: 'Suppliers', route: '/suppliers'},
                {icon: 'mdi-shopping-outline', text: 'Purchases', route: '/purchases'},
                {icon: 'mdi-file-chart', text: 'Reports', route: '/reports'},
            ]
        }),
    }
</script>

<style scoped>

</style>